{
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"semicolons": false,
	"printWidth": 140,
	"proseWrap": "never",
	"overrides": [
		{
			"files": ".prettierrc",
			"options": {
				"parser": "json"
			}
		}
	]
}
